.container{
    width: 30%;
    max-width: 70rem;
    margin: 15rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 13px;
    overflow: hidden;
}
body{
    background-color: gray;
}
.container button{
    background-color: white;
    border: 1px solid red;
    border-radius: 4px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}